html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 800px;
}